body {
    background-color: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1300px;
    margin: auto;
}

h1 {
    background-color: #2196F3;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-size: 110%;
}

h3 {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-size: 95%;
}

button
{
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;
    font-size:100%;
    border: 0px;
    width: 90%;
    height: 6vh;
}

button:enabled
{
    background-color: #2196F3;
    font-family: 'Roboto', sans-serif;
    font-size:100%;
    border: 0px;
    width: 90%;
    height: 6vh;
    color: #fff;
}



.star + label{
    background:url('A_Black_Star.png') no-repeat;
    height: 200px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.star:checked + label{
    background:url('A_Black_Star.png') no-repeat;
    height: 200px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.column {
    float: left;
    width: 27.33%;
    font-family: 'Arial';
    margin: 3%;
    box-shadow: 1px 1px 2px #aaaaaa;
}

.detail{
    font-size:90%;
    color:grey;
}

.checked {
    color: orange;
  }

.top{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 140%;
    background-color: lightgrey;
    height: 8vh;
}

.category{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 120%;
    background-color: white;
    height: 8vh;
}

.text{
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-size: 90%;
    background-color: white;
}

.separation{
    background-color: #F5F5F5;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}